# This file contains secrets.  DO NOT COMMIT THIS FILE TO SOURCE CONTROL NOR
# SHARE IT WITH ANYONE.  This file is used to store sensitive information.
DB_ADMIN_PSW=
DB_ADMIN_USER='admin'
DB_VOL_PATH='./db/data.volume'
DB_NAME='tnhsr'
DB_ROOT_PSW=